.navigation-bar-container {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: #f8f9fa;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.navigation-bar-container a {
	text-decoration: none;
	color: #343a40;
	font-size: 30px;
}

.navigation-bar-container a:hover {
	color: #495057;
}
